@charset "UTF-8";


@media screen {
    
}
@media(max-width: 900px) {
    header > #caixa1 > h1 {
        font-size: 1.3em;
    }

    header > #caixa {
        max-width: 50px;
        background-color: aqua;
    }

}

@media(max-width: 600px) {
    header {
        position: relative;
        height: 20vh;
        background-color: aqua;
    }
    
    header > #caixa1 > h1 {
        min-width: 60%;

        font-size: 2em;
        text-align: center;
    }

    nav {
        display: block;
        position: absolute;
        left: 20vw;
        bottom: 1%;
        padding: 0;
    }
}