@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

:root {
    /* Variáveis de cor */
    --cor1: #451E0C;
    --cor2: #BF4417;
    --cor3: #F27329;
    --cor4: #F28B30;
    --cor5: #e7d2b7;
    /* Variáveis de fonte */
    --fonte1: 'Gabriela';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor5);
}

/* Cabeçalho */

header {
    background-color: var(--cor1);
    height: 100px;
    width: 100%;
    display: flex;
    
}

header > #caixa1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > #caixa1 > h1 {
    font-size: 1.6em;
    font-family: var(--fonte1);
    color: var(--cor5);
    width: 50vw;
}

nav {
    display: flex;
    align-items: center;
    margin-left: 17vw;
}

header > nav > a {
    color: var(--cor3);
    font-size: 1.3em;
    padding: 0px 10px;
}

#caixa1 > #logo {
    width: 100px;
}

/* Conteúdo principal */

/* Colocando filtro no elemento pai, sem alterar elementos filhos*/
main {
    height: 90vh; /* É preciso definir tamanho */
    width: 100%;
    position: relative; /* Define que a pseudo-classe se ajustará ao main */
}

main::before {
    content: ""; /* Gera um elemento vazio */
    position: absolute; /* Definindo posição absoluta */
    inset: 0; /* Define as posições como zero, e por consequência o pseudo-elemento ocupa todo o main */
    background: var(--cor5) url(../img/background.png) center no-repeat fixed;
    background-size: cover;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.295);
    filter: brightness(0.3); /* Filtro aplicado */
}

main > h1 {
    position: absolute;
    color: var(--cor5);
    font-family: var(--fonte1);
    top: 40%;
    left: 2%;
    width: 70%;
    font-size: 3em;
}

/* Seção de produtos*/

section.produtos {
    margin: auto;
    width: 90%;
}

section#paes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
}

section#bebidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
}

section > article {
    background-color: var(--cor1);
    color: var(--cor5);
    border: 3px solid rgba(0, 0, 0, 0.589);
    border-radius: 20px;
    padding: 10px 20px;
    width: 300px;
    text-align: center;
    font-family: var(--fonte1);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.582);
}

section > article > h3 {
    padding-bottom: 10px;
}

section > article > img {
    border-radius: 100px;
    transition: all ease-in-out 0.4s; /* Para que seja aplicada transição em todos os estados, é preciso definir fora do :hover */
}

section > article > img:hover{
    transform: scale(97%);
    border-radius: 60px;
    cursor: pointer;
}



/* Elementos gerais */

a {
    text-decoration: none;
}

h2 {
    font-size: 5em;
    padding: 30px 0px;
    text-align: center;
    color: var(--cor3)
    
}

/* Rodapé */

footer {
    background-color: black;
    color: white;
    height: 60px;
    text-align: center;
}

footer > p {
    padding-top: 20px;
}

footer > p > a {
    color: var(--cor3);
}

footer > p > a:hover {
    color: var(--cor2);
    background-color: var(--cor1);
}


